.background-diagonal img{
  top: 1;
  position: absolute;
  height: 90vh;
  margin: -0.5rem;
}
.container{
  display: flex;
  flex-direction:row;
  align-items: center;
  justify-content: center;
  height: 80vh;
  z-index: -5;
}

.left-image{
  width: 50%;
  margin-left: 10%;
  z-index: 5;
}

.left-image img{
  max-width: 35rem;
  height: auto;
}
.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-right: 10%;

}

.avatar{
  width: 6.5rem;
  align-self: center;
}
.form-container h2{
  text-align: center;
  margin-bottom: 1rem;
  color: rgb(22, 22, 22);
  font-weight: bold;
  font-size: 2rem;
}
form{
  position: relative;
  width: 350px;
  padding: 4rem;
  background-color: rgba(249, 249, 249, 0.2);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1rem;
}


.form-group{
  display: flex;
  align-items: center;
}

form input{
  flex: 1;
}

.fa-solid{
  margin-right: -1.5em;
  color: #acacac;
  z-index: 10;
}

input{
  padding: .75rem;
  border: none;
  border-radius: 2px;
  color: #222;
  background-color: transparent;
  border-bottom: 1px solid #ccc;
}
input[type="text"], input[type="password"], input[type="email"]{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1.1em;
  text-indent: 1.5em;
  color: #4f4f4f;
}

input:focus{
  border-bottom: 2px solid #2adc2a;
  outline: none;
}

button{
  padding: .75rem;
  border: none;
  background-color: #2adc2a;
  border-radius: 4px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover{
  background-color: rgb(65, 244, 166);
}

button:disabled{
  background-color: #add3b9;
  cursor: default;
}

.error-message{
  color: red;
  text-align: center;
}


form .ng-invalid.ng-touched {
  border-bottom: 2.5px solid red;
}

.eye{
  position: absolute;
  right: 6.5em;
  color: #707070;
  z-index: 10;
  cursor: pointer;
}
@media only screen and (max-width: 1500px) {
  .left-image{
    display: none;
  }
  .form-container{
    margin-left: 10%;

  }
  form{
    background-color: rgba(249, 249, 249, 0.9);
    display: flex;
    width: 70%;
    height: 80vh;

  }
  form img{
    align-self: center;
    margin-left: 0;
  }

  .signup{
    bottom: auto;
    top: 3rem;
    right: 3rem;
  }
  .background-diagonal img{
    height: 100vh;
    width: 100vw;
  }
}
