
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <img src="https://i.postimg.cc/BvwwLj3L/doc.png" alt="doctor" class="avatar">
      <h2>Welcome Back</h2>

      <div class="form-group">
        <i class="fa-solid fa-user"></i>
        <input type="email" id="email"  required  formControlName="email" placeholder="Email">
      </div>

      <div class="form-group">
        <i class="fa-solid fa-lock"></i>
        <input type="password" formControlName="password" placeholder="Password" id="password"  required>

        @if(showPassword){
          <i class="fa-solid fa-eye eye" (click)="showPasswordToggle()"></i>
        }@else{
          <i class="fa-solid fa-eye-slash eye" (click)="showPasswordToggle()"></i>
        }
      </div>


      @if(isError){
        <p class="error-message">Incorrect email or password</p>
      }

      <button type="submit" [disabled]="!loginForm.valid">Login</button>
    </form>



