*{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 1rem;
}
.background-diagonal img{
  top: 1;
  position: absolute;
  height: 130vh;
  margin: -0.5rem;
  z-index: -100;
  width: 45%;
}

h1{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: bold;
  font-size: 2.5em;
  margin: 1em;
}
.cards{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70vw;
  margin: 0 auto;
}
.hospital-card{
  position: relative;
  width: 12rem;
  height: auto;
  padding: 2rem 3rem 6rem 3rem;
  background-color: rgba(243, 243, 243, 0.951);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem;
  outline: rgb(107, 255, 191, 0.2) 4px solid;
}
.hospital-card h4{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 1.5em;
  margin-bottom: 0;
}
h5{
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1em;
  font-style:normal;
  margin-bottom: 1.25em;
}
.hospital-card p{
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;

}

.hospital-card a{
  position: absolute;
  bottom: 1.75rem;
  right: 1.5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-style: bold;
  color: rgb(45, 203, 134);
}

.hospital-card a:hover{
  color: rgb(65, 244, 166);
}


