<div class="container">
  <h1>Hospital Profiles</h1>
  <div class="cards">
    <div class="hospital-card">
        <h4>Hospital Name</h4>
        <p>Address</p>
        <p>Phone</p>
        <p>Website</p>
        <a>View More</a>
    </div>

    <div class="hospital-card">
      <h4>Hospital Name</h4>
      <p>Address</p>
      <p>Phone</p>
      <p>Website</p>
      <a>View More</a>
    </div>

    <div class="hospital-card">
      <h4>Hospital Name</h4>
      <p>Address</p>
      <p>Phone</p>
      <p>Website</p>
      <a>View More</a>
    </div>
  </div>
</div>
