.card{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
h1{
  text-align: center;
}
.profile-card{
  position: relative;
  width: 15rem;
  height: auto;
  padding: 2rem 3rem 6rem 3rem;
  background-color: rgba(242, 242, 242, 0.504);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem;
  outline: rgb(107, 255, 191, 0.2) 4px solid;
}
.profile-card img{
  width: 10em;
  margin: 1rem auto;
}
.profile-card h5{
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: bold;
  font-size: 1.5em;
  margin-bottom: 0;
}
.profile-card p{
  margin: 0;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 1.2em;
}

.profile-card button{
  position: absolute;
  bottom: 2rem;
  right: 5rem;
  left: 5rem;
  text-decoration: none;
  cursor: pointer;
  font-weight: 500;
  font-style: bold;
  color: rgb(45, 203, 134);
}

.profile-card button:hover{
  color: rgb(65, 244, 166);
}
