<div class="container">
  <h1>Profile</h1>
  <div class="card">
    <div class="profile-card">
      <img src="https://www.cssscript.com/demo/login-page-template/img/avatar.svg" alt="face" class="avatar">
      <h5>{{user?.email}}</h5>
      <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')"  minlength="5" maxlength="5" required type="text" id="zipcode" [ngModel]="user?.zipcode" name="zipcode" [disabled]="!editMode" />
      <button (click)="isEditing()">{{ editMode ? 'Save': 'Edit' }}</button>
    </div>
    <div class="semi-circle"></div>
  </div>

  <hr class="profile-divider">
  <div class="saved-searches">
    <h3>Saved Searches</h3>
    @if(searches){
      <p>Searches</p>
    }@else {
      <p>No searches available at this time</p>
    }
  </div>
</div>

