<div class="container">
  <div class="hero">
    <h1>Knowledge is power. <br>Take control of your health</h1>
    <p>Compare prices and save</p>
  </div>

  <div class="search">
    <i class="fa-solid fa-magnifying-glass"></i>
    <input type="text" placeholder="Enter Procedure or CPT Code">
    <a class="button" [routerLink]="['/procedures-list']" >Search</a>
  </div>
  <div class="semi-circle"></div>

  <div class="top-procedures">
    <h3>Top Procedures</h3>
    <div class="cards">
    <div class="procedure-card">
      <h4>Procedure Name</h4>
      <p>Cost</p>
    </div>

    <div class="procedure-card">
      <h4>Procedure Name</h4>
      <p>Cost</p>
    </div>

    <div class="procedure-card">
      <h4>Procedure Name</h4>
      <p>Cost</p>
    </div>

    <div class="procedure-card">
      <h4>Procedure Name</h4>
      <p>Cost</p>
    </div>
    </div>
  </div>
</div>
