
    <form [formGroup]="signupForm" (ngSubmit)="signup()" [ngClass]="{'badForm': isError}">
      <img src="https://i.postimg.cc/BvwwLj3L/doc.png" alt="doctor avatar" class="avatar">
      <h2>Sign Up</h2>

      <div class="form-group">
        <i class="fa-solid fa-user"></i>
        <input type="email" id="email"  required formControlName="email" placeholder="Email">
      </div>
      <div class="form-group">
        <i class="fa-solid fa-location-dot"></i>
        <input type="text" oninput="this.value = this.value.replace(/[^0-9]/g, '')" formControlName="zipcode" placeholder="Zipcode" minlength="5" maxlength="5" required>
      </div>

      <div class="form-group">
        <i class="fa-solid fa-lock"></i>
        <input (ngModelChange)="validatePassword(signupForm)" type="password" formControlName="password" placeholder="Password" id="password" [ngClass]="{'ng-invalid': passwordMatch}"  required>
      </div>
      <div class="form-group">
        <i class="fa-solid fa-lock"></i>
        <input (keyup)="validatePassword(signupForm)" type="password" formControlName="password_confirmation" placeholder="Password Confirmation" id="password_confirmation" [ngClass]="{'ng-invalid': passwordMatch}" required>

        @if(showPassword){
          <i class="fa-solid fa-eye eye" (click)="showPasswordToggle()"></i>
        }@else{
          <i class="fa-solid fa-eye-slash eye" (click)="showPasswordToggle()"></i>
        }
      </div>

      @for(error of errorMessage; track $index){
        <p class="error-message">{{error}}</p>
      }
      @if(passwordMatch){
        <p class="error-message">Password does match</p>
      }

      <button id="submit" type="submit" [disabled]="!signupForm.valid" >Sign Up</button>
    </form>



