<div class="navbar">
  <div class="logo" routerLink="">
    <img src="https://i.postimg.cc/bNvqZwCq/costo-2.png" alt="Costo logo">
    <!-- <img src="https://i.postimg.cc/VLZHDfYs/costo-1.png" alt="Costo logo"> -->
    <h1>COSTO</h1>
  </div>
  <div class="links">

    <ul>
      <li [routerLink]="['/']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Procedures</li>
      <li [routerLink]="['/hospitals']" routerLinkActive="active">Hospitals</li>
      <li  routerLinkActive="active">Blog</li>
    </ul>
  </div>
  <div class="login">
    @if(authService.isLoggedIn()){
      <a class="log" routerLink="/profile" routerLinkActive="active">Profile</a>
      <a class="signup" (click)="logout()">Logout</a>
      }@else {
        <a class="log" [routerLink]="['/login']" routerLinkActive="active">Login</a>
        <a class="signup" [routerLink]="['/signup']"  routerLinkActive="active">Sign Up</a>
      }
  </div>
</div>
